12-n8n/n8n-basics/Basis Agentic Ai-with-tools.json
{
  "name": "Basis Agentic Ai",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        -112
      ],
      "id": "1554c40a-41f9-4b92-9292-695ca45691cb",
      "name": "When chat message received",
      "webhookId": "8282ef54-6127-45c3-bc6d-b01bfd2209d4"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant, always response to Funny way. and you have a http tools its return cat fact. use the tool if user want to know about cat fact.\n\nfor adding or workig on a task use google tasks tool.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -368,
        -144
      ],
      "id": "249768cb-2e3c-4a52-8ee0-7f3ab16b81c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -576,
        96
      ],
      "id": "98184111-e27c-4545-b2ad-1f9ed9a0ce83",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lI0MMJxPA9xRfunV",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -368,
        64
      ],
      "id": "72b26e6c-08bc-4390-9380-0ee96b576ba1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://catfact.ninja/fact",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        48,
        64
      ],
      "id": "5a66c21b-fc5d-41dc-b4ae-03e2f3a19aa1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"reply\": \"Grnerated Response\",\n  \"time\": \"Current Time\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        240,
        -16
      ],
      "id": "305b290e-8812-4fd4-95f0-bad98f088aaf",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "https://timeapi.io/api/time/current/zone?timeZone=Europe%2FAmsterdam",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -192,
        144
      ],
      "id": "6536d0d8-813f-44c9-b057-ae390e7df804",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "description": "call the tool to always get the current time.",
        "language": "python",
        "pythonCode": "from datetime import datetime\n\n# Get current time\ncurrent_time = datetime.now().isoformat()\n\nreturn current_time\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -64,
        256
      ],
      "id": "5da1dfac-c1c0-4ccd-bb20-7d2c3c92723d",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output.reply }}{{ $json.output.time }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        480,
        -128
      ],
      "id": "a9b0145e-e300-4372-b32c-941db5e71c4a",
      "name": "Discord",
      "webhookId": "48985df3-ca59-4958-be4b-4a9fba46132f",
      "credentials": {
        "discordWebhookApi": {
          "id": "as0LOyCWdFL0JTM8",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "task": "ZXJ6NDF0Vm1SY0VLS3lycQ",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {
          "status": "needsAction"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        64,
        352
      ],
      "id": "cefaa331-8957-433c-b888-52e64017dd6c",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "V5bbasQmUmnQN6lt",
          "name": "Google Tasks account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ba28f34-db64-4a5f-a527-b898edd7b746",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f2ab69dedda4da17aaf53e5005553765c50213bce7cde6e0ba73b51ced58706"
  },
  "id": "S7w6mtKxiWjZgaWd",
  "tags": [
    {
      "createdAt": "2025-09-18T05:55:36.418Z",
      "updatedAt": "2025-09-18T05:55:36.418Z",
      "id": "JObv1UXBZgNmJuMB",
      "name": "e2e"
    }
  ]
}